.header {
  
}

.header__image {
  max-width: 167px;
  max-height: 167px;
  border-radius: 50% ;
}

.header__title {
  font-size: 48px;
  font-weight: 800;
  line-height: 53px;
  text-align: left;
  text-transform: uppercase;
  margin: 20px 0;
}

.header__description {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  margin: 0;
}
