.header {
  padding: 40px 40px;
}

.header__image {
  width: 167px;
  height: 167px;
  margin: 120px 0 0;
}

.header__title {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 800;
  line-height: 53px;
  text-align: left;
  text-transform: uppercase;
  color: #aaaaaa;
  margin: 20px 0;
}

.header__description {
  font-family: sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  text-align: left;
  color: #aaaaaa;
  margin: 0;
}