.page {
  background-color: var(--gunmetal);
  color: var(--beige);
  font-family: "Raleway", sans-serif;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__section {
  max-width: 1280px;
  margin: 0 auto;
}
