.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 420px;
  padding: 20px;
  margin: 0;
  background-color: var(--periwinkle);
  color: var(--beige);
  border-radius: 10px;
  box-sizing: border-box;
}

.project__image {
  display: block;
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: contain;
  margin: 0;
  padding: 0;
}

.project__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0;
  width: 100%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.project__link {
  background-color: var(--lobster-pink);
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  text-decoration: none;
}

.project__link:hover {
  background-color: var(--slate-indigo);
}
